@media screen and (max-width:1200px) {
    .header-wrapper {
        padding-left: 50px;
        padding-right: 50px
    }
}

@media screen and (max-width:992px) {
    section.ptb150 {
        padding-top: 60px;
        padding-bottom: 60px
    }

    .footer [class*=col-] {
        margin-bottom: 30px;
        text-align: center
    }

    .header-wrapper {
        padding-left: 15px;
        padding-right: 15px
    }

    header .main-menu .toggle_menu {
        display: inline-block
    }

    header .main-menu .menu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: -100%;
        opacity: 0;
        visibility: hidden
    }

        header .main-menu .menu li {
            margin: 0 20px
        }

    header .main-menu .toggle_menu span, header .main-menu .toggle_menu:before {
        left: 15px;
        top: 50%
    }

    .vm-sm {
        vertical-align: middle;
        text-align: right
    }
}

@media screen and (max-width:767px) {
    .container {
        max-width: 500px
    }

    .xs-text-left {
        text-align: left
    }

    .footer .footer-menu > li {
        display: block !important;
        margin: 0 !important
    }
}
